@import "css/main.css";
@import "css/product.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  font-family: Trebuchet MS, "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Tahoma, sans-serif !important;
  font-size: 16px;
  line-height: 1.2;
  background-color: #191919;
  background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0) 50%,
          rgba(0, 0, 0, 0.5) 100%
  ),
  url("statics/background/Pattern@2x.png");
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed #1698d9;
  cursor: pointer;
}

.card {
  background: none !important;
}
